.section2-movies {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.section2-movies .videos img {
    /* border: 2px solid red; */
    /* height: 15rem;
    width: 32rem; */
}

@media (max-width:600px) {
    .section2-movies .videos img {
        /* border: 2px solid red; */
        height: 10rem;
        width: 18rem;
    }
}