.hero {
    width: 100%;
    min-height: 80vh;
    /* background: linear-gradient(var(--theme-color-highlight1), var(--theme-color-highlight2)), url("../../assets/imgAssets/hero.jpg"); */
    /* background: linear-gradient(var(--theme-color-highlight1), var(--theme-color-highlight2)), url("../../assets/projects-img/documentary.jpg"); */
    /* background: linear-gradient(var(--theme-color-highlight1), var(--theme-color-highlight2)), url("../../assets/imgAssets/back.jpg"); */
    background: linear-gradient(var(--theme-color-highlight1), var(--theme-color-highlight2)), url("../../assets/imgAssets/hero-art.png");
    background-size: cover;
    background-position: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.hero-text {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    z-index: 2;
}

.hero-text h1 {
    /* border: 2px solid red; */
    font-size: 4.7rem;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    text-transform: capitalize;
    z-index: 2;
}

.hero-text .last-line {
    /* border: 2px solid red; */
    /* font-size: 4.7rem; */
    font-weight: 600;
    width: 55rem;
    z-index: 2;
}

.last-line-color {
    color: var(--theme-color-main);
}

.hero-text h3 {
    text-transform: capitalize;
    color: #ffffff;
    z-index: 2;
}

.hero-text p {
    /* border: 2px solid red; */
    font-size: 1.2rem;
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
    color: #ffffff;
    z-index: 2;
}

.hero .hero-text button span {
    color: rgb(59, 59, 59);
    margin-right: 0.4rem;
}

.pictures {
    /* border: 2px solid black; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50rem;
    z-index: 1;
}

.pictures .hero-img {
    /* border: 2px solid black; */
    opacity: 1;
    z-index: 1;
}

.pictures .img-l {
    width: 15rem;
    transform: rotate(-20deg);
}

.pictures .img-r {
    width: 20rem;
}


/* ------------- media query ------------- */

@media(max-width:1400px) {
    .pictures {
        /* border: 2px solid black; */
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40rem;
        z-index: 1;
    }

    .pictures .hero-img {
        /* border: 2px solid black; */
        opacity: 1;
        z-index: 1;
    }

    .pictures .img-l {
        width: 15rem;
        transform: rotate(-20deg);
        z-index: 1;
    }

    .pictures .img-r {
        width: 20rem;
    }

}

@media(max-width:1200px) {
    .pictures {
        /* border: 2px solid black; */
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30rem;
        z-index: 1;
    }

    .pictures .hero-img {
        /* border: 2px solid black; */
        opacity: 1;
        z-index: 1;
    }

    .pictures .img-l {
        width: 10rem;
        transform: rotate(-20deg);
        z-index: 1;
    }

    .pictures .img-r {
        width: 15rem;
    }

}


@media(max-width:900px) {
    .pictures {
        /* border: 2px solid black; */
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25rem;
        z-index: 1;
        top: 20rem;
    }

    .pictures .hero-img {
        /* border: 2px solid black; */
        opacity: 1;
        z-index: 1;
    }

    .pictures .img-l {
        width: 10rem;
        transform: rotate(-20deg);
        z-index: 1;
    }

    .pictures .img-r {
        width: 15rem;
    }

}

@media(max-width:850px) {
    .hero-text h1 {
        font-size: 30px;
    }

    .hero-text h1 {
        font-size: 3rem;
        max-width: 40rem;
        margin: auto;
        font-weight: 600;
        /* border: 2px solid red; */
    }

    .hero-text .last-line {
        font-weight: 600;
        color: #ffffff;
    }

    .pictures {
        /* border: 2px solid black; */
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15rem;
        z-index: 1;
        top: 20rem;
    }

}

@media(max-width:650px) {
    .hero-text h1 {
        font-size: 2.5rem;
        max-width: 20rem;
        margin: auto;
        /* border: 2px solid red; */
    }

    .hero-text .last-line {
        /* border: 2px solid red; */
        font-size: 2.5rem;
        font-weight: 600;
        color: #ffffff;
        width: 20rem;
        /* border: 2px solid red; */
    }

    .hero-text p {
        /* border: 2px solid red; */
        font-size: 12px;
        max-width: 300px;
        margin: 15px auto 30px;
    }

    /* -------------- */
    .pictures {
        /* border: 2px solid black; */
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;
        z-index: 1;
        top: 12rem;
    }

    .pictures .hero-img {
        /* border: 2px solid black; */
        opacity: 1;
        z-index: 1;
    }

    .pictures .img-l {
        width: 10rem;
        transform: rotate(-20deg);
        z-index: 1;
    }

    .pictures .img-r {
        width: 15rem;
    }

}

@media(max-width:560px) {

    /* -------------- */
    .pictures {
        /* border: 2px solid black; */
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        z-index: 1;
        top: 12rem;
    }

    .pictures .hero-img {
        /* border: 2px solid black; */
        opacity: 1;
        z-index: 1;
    }

    .pictures .img-l {
        width: 6rem;
        transform: rotate(-20deg);
        z-index: 1;
    }

    .pictures .img-r {
        width: 10rem;
    }

}