.honemoonComp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
  border-radius: 30px;
  background-color: rgba(1, 1, 1, 0.2);
}

.honemoonComp h4 {
  color: azure;
}
.honemoonComp iframe {
  border-radius: 10px;
}
