.container .mouse-icon {
    /* border: 2px solid red; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.click-view {
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 70px;
    margin-top: -70px;
    /* color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-view svg {
    /* border: 2px solid red; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:642px) {
    .creations {
        margin-top: 40rem;
        /* border: 2px solid red; */
    }
}