.section2-ads {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.section2-ads .videos img {
    /* border: 2px solid red; */
    height: 15rem;
    width: 32rem;
}

@media (max-width:600px) {
    .section2-ads .videos img {
        /* border: 2px solid red; */
        height: 9rem;
        width: 22rem;
    }
}