.RecentCreations {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.creation-img {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.RecentCreations .creation1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.RecentCreations .creation1 img {
    width: 60rem;
}


.creation-img:hover {
    scale: 1.05;
    transition: .5s ease-in-out;
}

/* ------------------------ */
.creation2 {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.creation2 img {
    width: 29rem;
}

/* ------------------------ */
.creation3 {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.creation3 img {
    width: 60rem;
}

/* ------------------------------ */
.creation4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.RecentCreations .creation4 img {
    width: 29rem;
}

.creation5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.RecentCreations .creation5 img {
    width: 29rem;
}


@media (max-width:1030px) {

    .creation1 img,
    .creation3 img {
        max-width: 40rem;
    }

    .creation2 img,
    .creation4 img,
    .creation5 img {
        max-width: 19rem;
    }

}

@media (max-width:680px) {


    .creation1 img,
    .creation3 img {
        max-width: 20rem;
    }

    .creation2 img,
    .creation4 img,
    .creation5 img {
        max-width: 20rem;
    }

    .creation1,
    .creation2,
    .creation3,
    .creation4,
    .creation5 {
        /* border: 2px solid red; */
        flex-direction: column;
    }

}