.hero-main {
    /* border: 2px solid red; */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-main img {
    /* border: 2px solid red; */
    width: 100%;
}


@media (max-width:1400px) {
    .title-hero {
        /* border: 2px solid red; */
        font-size: 6rem;
        padding: 0rem 4rem;
    }
}

@media (max-width:1210px) {
    .title-hero {
        /* border: 2px solid red; */
        font-size: 6rem;
        padding: 0rem 4rem;
    }
}

@media (max-width:1036px) {
    .title-hero {
        font-size: 4rem;
        padding: 0rem 3rem;
    }
}

@media (max-width:900px) {
    .title-hero {
        /* border: 2px solid red; */
        font-size: 4rem;
    }
}

@media (max-width:700px) {
    .title-hero {
        /* border: 2px solid red; */
        font-size: 4rem;
        padding: 0rem 2rem;
    }
}

@media (max-width:400px) {
    .title-hero {
        /* border: 2px solid red; */
        font-size: 2rem;
        border-radius: .5rem;
    }

}