.hero-main {
    /* border: 2px solid red; */
    width: 100vw;
    height: 50vh;

    background-color: rgb(193, 193, 193);
    background-image: url("../../../assets/imgAssets/pattern1.png");
    background-position: center center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-hero {
    /* border: 1px solid black; */
    background-color: antiquewhite;
    background-image: url("../../../assets/imgAssets/pattern1.png");
    align-items: center;
    justify-content: center;
    background-size: 400px 400px;
    font-size: 8rem;
    text-align: center;
    width: auto;
    padding: 0rem 6rem;
    border-radius: 1rem;
}

@media (max-width:1400px) {
    .title-hero {
        /* border: 2px solid red; */
        font-size: 6rem;
        padding: 0rem 4rem;
    }
}

@media (max-width:1210px) {
    .title-hero {
        /* border: 2px solid red; */
        font-size: 6rem;
        padding: 0rem 4rem;
    }
}

@media (max-width:1036px) {
    .title-hero {
        font-size: 4rem;
        padding: 0rem 3rem;
    }
}

@media (max-width:900px) {
    .title-hero {
        /* border: 2px solid red; */
        font-size: 4rem;
    }
}

@media (max-width:700px) {
    .title-hero {
        /* border: 2px solid red; */
        font-size: 4rem;
        padding: 0rem 2rem;
    }
}

@media (max-width:400px) {
    .title-hero {
        /* border: 2px solid red; */
        padding: 0rem 1rem;
        font-size: 2rem;
        border-radius: .2rem;
    }

    .hero-main {
        height: 20vh;
    }
}