.section2-webseries {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0 6rem 0;
}

.inner-series-list {
  display: flex;
  gap: 10px;
}
.previous-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.previous-container h3 {
  margin-top: 20px;
  font-size: 25px;
  color: azure;
}
iframe {
  border-radius: 30px;
}

.series-list {
  margin: 20px 0 30px 0;
  display: flex;
  flex-wrap: wrap; /* allow wrapping */

  justify-content: space-between;
  gap: 20px;
}
.webseries-title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0;
  width: 100%;
}
.webseries-title h1 {
  padding-bottom: 0px !important;
}
.section2-webseries .videos img {
  /* border: 2px solid red; */
  height: 16rem;
  width: 28rem;
}

/* Media Query for Small Devices */
@media screen and (max-width: 768px) {
  .series-list {
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }

  .webseries-title {
    max-width: 100%;
  }

  iframe {
    height: auto;
    aspect-ratio: 16 / 9;
  }
}
@media (max-width: 600px) {
  .section2-webseries .videos img {
    /* border: 2px solid red; */
    height: 11rem;
    width: 18rem;
  }
}
