.section2-webseries {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 6rem 0;
}

.section2-webseries .videos img {
    /* border: 2px solid red; */
    height: 16rem;
    width: 28rem;
}

@media (max-width:600px) {
    .section2-webseries .videos img {
        /* border: 2px solid red; */
        height: 11rem;
        width: 18rem;
    }
}